
h2{color: #3322ee; font-style: bold; background: #aaccee;}
h3{color: #dddddd; font-style: bold; text-decoration:underline; background: #333333;}
h4{color: #110033; font-style: bold; background: #AAFFEE;}
h5{color: #990033; font-style: bold; background: #EEEEDD;}

pre{
color: #222222;
font-style: normal;
background: #EEEEEE;
margin-left: 1em;
margin-right: 1em;
padding-left: 1em
}

body { font-family: "Arial", Times, 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ', Meiryo, 'ＭＳ Ｐゴシック'; }

table, td, th { border: 1px #888888 solid; border-collapse: collapse; }
